@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/resources/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

button[aria-selected="true"] {
  color: #14A4AD !important; /* teal-600 */
  border-color: #14A4AD !important;
}

.z-modal {
  z-index: 9999; /* biar modal pasti di atas segalanya */
}
