@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/resources/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

button[aria-selected="true"] {
  color: #14A4AD !important; /* teal-600 */
  border-color: #14A4AD !important;
}

/* Untuk Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Untuk Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
